/* Grundlegende Einstellungen */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #EFF3F5;
  padding: 40px 10px;
  color: #333;
  position: relative;
  min-height: 200vh;
}

.page-header {
  max-width: 650px;
  margin: 0 auto 30px auto;
}

h1 {
  font-size: 4rem;
  font-family: 'Verdana', sans-serif;
  color: #63889C;
  line-height: 0.9;
}

.subtitle {
  font-size: 1.5rem;
  color: #63889C;
  margin-top: -5px;
  margin-bottom: 20px;
  display: block;
}

.katalog-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 650px;
  margin: 0 auto;
  gap: 40px;
}

.card {
  background: #EFF3F5;
  display: flex;
  flex-direction: column;
}

.card-header {
  order: 1;
  padding: 0 0 15px 0;
  line-height: 1;
}

.card-header h3 {
  font-family: 'Verdana', sans-serif;
  color: #63889C;
  font-size: 1.8rem;
}

.card img {
  order: 2;
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  margin-top: 0.2px;
}

.card-content {
  order: 3;
  padding: 15px 0 0 0;
  font-size: 1rem;
  color: #63889C;
}

@font-face {
    font-family: 'scheinundsein';
    src: url('/assets/fonts/scheinundsein.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Zentraler Bereich für alle dekorativen Buchstaben */
.floating-letter {
    position: absolute;
    font-family: 'scheinundsein', sans-serif;
    pointer-events: none;
    user-select: none;
    z-index: 1000; /* Legt Buchstaben hinter die Inhalte */
    opacity: 0.5;
    line-height: 1;
    font-weight: bold;
}
.pos-1  { top: 5%;    left: 5%; }
.pos-2  { top: 10%;   right: 10%; }
.pos-3  { top: 20%;   left: 20%; }
.pos-4  { top: 30%;   right: 5%; }
.pos-5  { top: 40%;   left: 10%; }
.pos-6  { top: 50%;   right: 20%; }
.pos-7  { top: 60%;   left: 5%; }
.pos-8  { top: 70%;  right: 10%; }
.pos-9  { top: 80%;  left: 15%; }
.pos-10 { top: 90%;  right: 5%; }
.pos-11 { top: 100%;  left: 10%; }
.pos-12 { top: 110%;  right: 15%; }
.pos-13 { top: 120%;  left: 5%; }
.pos-14 { top: 230%; left: 40%; }
.pos-14 { top: 240%; left: 10%; }
.pos-15 { top: 250%; right: 5%; }
.pos-16 { top: 260%; left: 20%; }
.pos-17 { top: 270%; right: 15%; }
.pos-18 { top: 280%; left: 5%; }
.pos-19 { top: 290%; right: 10%; }
.pos-20 { top: 300%; left: 25%; }
.pos-21 { top: 315%; right: 5%; }
.pos-22 { top: 320%; left: 10%; }
.pos-23 { top: 330%; right: 20%; }
.pos-24 { top: 340%; left: 15%; }
.pos-25 { top: 350%; right: 10%; }
.pos-26 { top: 360%; left: 5%; }
.pos-27 { top: 470%; right: 15%; }
.pos-28 { top: 480%; left: 30%; }
}
.silber { color: rgba(216, 224, 235, 1.0) !important;}
.gold   { color: rgba(212, 175, 55, 0.6) !important; }

.size-s { font-size: 15rem; }
.size-m { font-size: 25rem; }
.size-l { font-size: 40rem; }